<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi {{name}},</p>
  <p>Let's reset your password so you can get back to the application!</p>
  <a href="{{link}}">Reset Password</a>
  <p>If you did not ask to reset your password you may want to review your recent account access for any unusual
    activity</p>
  <p>
    &mdash; Thank you
    <br />
    <strong>LogMapping Team</strong>
  </p>
</div>
